asgiref==3.8.1
Django==5.0.4
django-ckeditor==6.7.1
django-dotenv==1.4.2
django-jazzmin==2.6.1
django-js-asset==2.2.0
djangorestframework==3.15.1
modeltranslation==0.25
pillow==10.3.0
python-dotenv==1.0.1
sqlparse==0.4.4
tzdata==2024.1
